.nav1{
    background: #00000078 !important;
    background-size: contain;
}
.top_menu{
    background-image: url(hero-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
img{
    max-width: 100%;
    height: auto;
}
.imgs .img1{
    position: relative;
    margin-left: 30% ;
}
.imgs .img2{
    position: absolute;
    bottom: -20%;
    right: 51.5%;
}
p{
    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
    line-height: 2rem;
}
h1,h2,h3{
    font-family: 'Maven Pro', sans-serif;
}
.cheff{
    margin-top: 15%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(chef-recommended-img.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    max-width: 100%;
    /* box-shadow: inset 1px 1px 1px 300px #00000078; */
}
.dishes{
    margin-top: 10%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(popular-dishes-img.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    max-width: 100%;
    /* box-shadow: inset 1px 1px 1px 300px #00000078; */
}
.chefs{
    margin-top: 5%;
}
.clients{
    padding: 4% 0%;
    margin-top: 6%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(testimonials-bg.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    max-width: 100%;
    /* box-shadow: inset 1px 1px 1px 300px #00000078; */
}
.client-row{
    padding-top: 30px;
}
.foods{
    margin-top: 5%;
    margin-bottom: 7%;
}
.footer{
    padding: 6.5% 0%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(footer-bg.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    max-width: 100%;
    /* box-shadow: inset 1px 1px 1px 300px #00000078;  */
}
.foot img{
    margin-bottom: 0.5%;
}
.foot p{
    line-height: 1rem !important;
}
.fab{
    border: 1px solid white;
    border-radius: 50%;
    padding: 1%;
    margin: 0% 0.5%;
    margin-bottom: 2%;
}
.fab:hover{
    background-color: #ffbf00;
    border: none;
    cursor: pointer;
}
.menus{
    margin-top: 5%;
}
@media only screen and(max-width:768px){
    .nav1{
        display: none;
        background-color: #A1A1A1 !important;   
    }
    .row img{
        width: 30% !important;
    }
    .foods{
        margin-top: 5%;
    }
    
}
